<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <!-- Stylesheet -->
    <link rel="stylesheet" href="./assets/css/style.css">
    <title>BoolFlix</title>
</head>

<body>
    <!-- Call_VueJS -->
    <div id="app">
        <!-- Site_Header -->
        <header class="d-flex align-items-center justify-content-between">
            <!-- LogoNetflix -->
            <div class="logo_netflix">
                <img class="img-fluid" src="./assets/img/netflix_logo.jpg" alt="">
            </div>
            <!-- /LogoNetflix -->
            <!-- Barra di ricerca film al click -->
            <div class="searching_bar mr-3">
                <input type="text" class="input_ricerca" v-model="query">
                <button type="submit" class="bottone_ricerca" @click="searchFilms">Search</button>
            </div>
            <!-- /Barra di ricerca film al click -->
        </header>
        <!-- /Site_Header -->

        <!-- Site_Main -->
        <main>
            <!-- Contenitore -->
            <div class="container-fluid d-flex flex-wrap">
                <!-- Elenco Film trovati-->
                <div class="carta col-12 col-lg-6 col-xl-4 p-1 mb-3 d-flex align-items-center flex-column text-center"
                    v-for="film in films.results">
                    <div id="copertina_over" class="copertina mb-2">
                        <div class="immagine" v-show="show_img">
                            <img v-if="film.poster_path == null" src="./assets/img/not_found_2.png" alt="">
                            <img v-else style="" :src="'https://image.tmdb.org/t/p/w342'+film.poster_path" alt="">
                        </div>

                        <div class="descrizione" v-show="show_descr">
                            <div>
                                <h3>{{film.title}}</h3>
                            </div>
                            <div v-if="film.title !== film.original_title">
                                <h4>{{film.original_title}}</h4>
                            </div>
                            <div>
                                Language:<img :src="getFlag(film.original_language)">
                            </div>
                            <div>
                                Voto del film: <h5>{{film.vote_average}}</h5>
                            </div>
                        </div>
                    </div>


                </div>
                <!-- /Elenco Film trovati -->

                <!-- Elenco Serie trovati -->
                <!-- <div class="carta col-12 col-lg-6 col-xl-4 p-1 mb-3 d-flex align-items-center flex-column text-center"  v-for="serie in series.results">
                    <div class="copertina"  style="height: 517px; background-color: black;">
                        <img v-if="serie.poster_path != null" :src="'https://image.tmdb.org/t/p/w342'+ serie.poster_path" alt="">
                        <img v-else src="./assets/img/not_found_2.png" alt="">
                    </div>
                    <div>
                        Titolo: {{serie.name}}
                    </div>
                    <div v-if="serie.name != serie.original_name">
                        Titolo originale: {{serie.original_name}}
                    </div>
                    <div>
                        Language:<img :src="getFlag(serie.original_language)">
                    </div>
                    <div>
                        Voto della serie: {{serie.vote_average}}
                    </div>
                </div> -->
                <!-- /Elenco Serie trovati -->
            </div>
            <!-- /Contenitore -->
        </main>
        <!-- /Site_Main -->

    </div>
    <!-- /Call_VueJS -->

    <!-- Vue JS CDN -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!-- AXIOS CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
        integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- main.js -->
    <script src="./assets/js/main.js"></script>
</body>

</html>